<h1>Listing practice_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @practice_groups.each do |practice_group| %>
  <tr>
    <td><%= practice_group.name %></td>
    <td><%= link_to 'Show', practice_group %></td>
    <td><%= link_to 'Edit', edit_practice_group_path(practice_group) %></td>
    <td><%= link_to 'Destroy', practice_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Practice group', new_practice_group_path %>
